div {margin:0;padding:0}

#test1{
    width:800px;
    height:800px;
    background: red;
    opacity:0.5;
    position:absolute;
    top:50%;
    left:50%;
   margin-top:-400px;
   margin-left:-400px;
    
}

#test2{
    width:400px;
    height:400px;
    background: green;
    position:absolute;
    top:200px;
    left:200px;
    
}
    


#test3{
    width:200px;
    height:200px;
    background: blue;
    position:absolute;
    top:100px;
    left:100px;
}
    



#test4{
    width:100px;
    height:100px;
    background: yellow;
   position:absolute;
top:50px;
    left:50px;
}



.outer{border:1px solid #ccc;background: #fc9;color: #fff;margin: 10px auto;padding: 10px;zoom:1;}
.div1{width:80px;height: 80px;background: red;float: left;}
.div2{width: 80px;height: 80px;background: blue;float: left;}
.div3{width: 80px;height: 80px;background: sienna;float: left;}
.outer:after{clear:both;content:'.';display:block;width:0;height:0;visibility:hidden;}